<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="containor">
      <h1>Signup</h1>
      <form action="/signup" method="post">
        <input type="text" name="firstName" placeholder="First Name " />
        <input type="text" name="lastName" placeholder="Last Name " />
        <input type="email" name="email" placeholder="Username " />
        <input type="password" name="password" placeholder="password " />
        <button class="button">Signup</button>
      </form>
      <a href="/login">Login</a>
    </div>
  </body>
</html>
